biopython~=1.76
certifi~=2020.4.5.1
configparser~=5.0.0
cycler~=0.10.0
decorator~=4.4.2
joblib~=0.14.1
kiwisolver~=1.2.0
matplotlib~=3.2.1
minio~=5.0.10
mlxtend~=0.17.2
networkx~=2.4
numpy~=1.18.3
pandas~=1.0.3
pyfasta~=0.5.2
pyparsing~=2.4.7
python-dateutil~=2.8.1
python-qpid-proton~=0.30.0
pytz~=2019.3
scikit-learn~=0.22.2.post1
scipy~=1.4.1
six~=1.14.0
urllib3~=1.25.9
xgboost~=1.0.2
